@import "../../scss/variables.scss";

.root {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 20px;
  h1 {
    color: $blue;
    margin-left: 15px;
  }  

  @media screen and (max-width: 600px) {
    width: 90vw;
    margin-right: 10px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  
  align-items: center;
}

.right_selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-right: 15px;
}