.root{
  width: 40vw;

  height: 410px;

  border-radius: 20px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  padding: 30px;
  box-sizing: border-box;

  @media screen and (max-width: 1150px){
    width: 85vw;
  }

  @media screen and (max-width: 600px) {
    width: 95vw;
    height: auto;
    margin: 0;
  }

  @media screen and (max-width: 400px) {
    width: 95vw;
  }

}

.svgContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 15px; 
  svg {
    margin-right: 20px;
  }
}

.forecastItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  margin-right: 30px;
  margin-bottom: 25px;  
}

